{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Free Open Source Task Tracker using Python">
    <meta name="author" content="Farzad Asgari - https://github.com/farzadasgari - https://farzadasgari.ir">
  <title>TaskPyTrack | Track Tasks With Python</title>
  <link href="{% static 'Plugins/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Plugins/fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/TPT.css' %}" rel="stylesheet">
</head>

<body>
<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-logo">
    <img src="{% static 'Images/test logo.png' %}" alt="TaskPyTrack"
         id="logo">
  </div>
</div>

<!-- Page content -->
<div class="content">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">TaskPyTrack</a>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="container-fluid">
    <h1>Welcome to the TaskPyTrack</h1>
    <p>Track Your Task With Python.</p>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="{% static 'Plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'Plugins/jquery/jquery.js' %}"></script>
<script src="{% static 'Scripts/TPT.js' %}"></script>
</body>

</html>
